<app-nav-bar></app-nav-bar>

<div class="container">
    <div *ngFor="let episode of episodes" class="card">
        <!-- <div class="card"> -->
            <div class="card-title" (click)="showCharacterDetails(episode)">{{ episode.name }}</div>
            <div class="card-content">
                <p>Air Date: {{ episode.air_date }}</p>
                <p>Episode: {{ episode.episode }}</p>
            </div>
        
    </div>
</div>

<div class="modal" [class.show]="isModalVisible">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Character Details</h2>
        <div *ngFor="let character of characterDetails">
            <img [src]="character.image" alt="{{ character.name }}">
            <p>{{ character.name }}</p>
            <hr>
        </div>
    </div>
</div>
